<div class="container foreground-container" style="overflow: auto">
  <div class="container">
    <p class="h2 h2-responsive">About Me</p>
  </div>
  <div class="container">
    <div>
      <img class="float-left img-profile" src="assets/imgs/profile.jpg" alt="profile photo 300 x 300">
    </div>
    <div class="container">
      <p>My name is Quinn Freas. I am a senior studying Information Technology (IT) with a concentration in Enterprise
        Systems
        at Kennesaw State University.</p>
      <p>My hobbies include hiking, cycling, writing, typewriter restoration, tinkering, server implementation, and
        workstation
        optimization. I like to make sure everything runs smoothly and prefer to have a plan ready to ensure success in
        my
        day-to-day life.</p>
      <a href="https://www.linkedin.com/in/quinn-freas-988837110" target="_blank">
        <div class="media">
          <img class="d-flex mr-3" src="assets/imgs/linkedin.png" alt="LinkedIn Logo">
          <div class="media-body">
            <p>Please feel free to visit my LinkedIn page for my resume and experience history.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>