<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">Projects</p>
    <hr>
    <div class="container-fluid">
      <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/projects/highcard">Java/JavaFX - Highcard
          <h6>This is a Java/JavaFX application built for a school project...</h6>
        </a>
      </div>
      <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="">Project Two
          <h6>This is the description</h6>
        </a>
      </div>
      <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/">Project Three
          <h6>This is the description</h6>
        </a>
      </div>
    </div>
  </div>
</div>
