<!--Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo"> -->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5"> -->
<mdb-navbar SideClass="navbar navbar-expand-lg lighten-5 navbar-light nav-custom-css">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">QUINN</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/about">About</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Kennesaw State University
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/ksu/it4683">IT
            4683 - Mgt Inf Tech & HCI</a>
          <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a> -->
          <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a> -->
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/ksu">All Courses</a>
          <!-- <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerlinkactive="active" routerLink="/ksu/it4683/itToolKit">IT Tool Kit</a> -->
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <!-- <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form> -->

    <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
      mdbWavesEffect>Sign In</button>

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- Modal login -->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Modal login -->
