<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>This Doc</title>
</head>

<body>
  <div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
      <div class=carousel-item active>
        <img src="assets/home.jpg" alt="Home" class="d-block img-fluid">
      </div>
    </div>
  </div>

  <div>
    <p>THIS IS THE HOME PAGE</p>
  </div>

</body>

</html>
