<div class="container foreground-container">
  <div class="container">
    <p class="h2 h2-responsive">About Me</p>
  </div>
  <div class="container">
    <img class="float-left img-profile" src="" alt="profile photo 300 x 300">
    <div class="container">
      <p>My name is Quinn Freas. I am a senior studying Information Technology (IT) with a concentration in Enterprise Systems at Kennesaw State University.</p>
      <p>My hobbies include hiking, cycling, writing, typewriter restoration, tinkering, server implementation, and workstation optimization.</p>
    </div>
  </div>
</div>
