/* You can add global styles to this file, and also import other style files */

body {
  background-color: #3AAFA9;
}

.foreground-container {
  background-color: #FEFFFF;
  padding-bottom: 15px;
  padding: 10px;
//   box-shadow: 5px 10px 8px #888888;
}

.col-project {
  background-color: #DEF2F1;
  border: none;
  border-radius: 5px;
  padding: .5% 1%;
  margin: 1%;
}

.row-projects {
  :visited {
    text-decoration: none;
  }
  :hover {
    color: gray;
  }
}

.nav-custom-css {
  background-color: #2B7A78;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
}

.btn {
    // background-color: #3AAFA9 !important;
    background-color: #5AB9EA !important;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center !important;
}