/* You can add global styles to this file, and also import other style files */
body {
    background-color: thistle;
}

.foreground-container {
    background-color: beige;
    padding-bottom: 15px;
    // border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}