<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">IT 4683 - Toolkit</p>
    <p class="h2 h2-responsive">IT Strategy</p>
    <hr>
  </div>
  <div class="container-fluid">
    <p class="h6 h6-responsive">IT Strategy Roles</p>
    <div class="container-fluid">
      <div class="">
        <p>
          The purpose of IT Strategy is to provide guidence to IT professionals. The IT Strategy should cover, in
          depth, topics that are IT related.
        </p>
      </div>
    </div>
    <p class="h6 h6-responsive">Guidelines</p>
    <div class="container-fluid">
      <div>
        <ol>
          <!-- Ref 1 -->
          <li>Create a Mission Statement - Understanding the purpose of IT is essential for an organization. This way,
            it is easier to determine the goals and responsibilities of IT.</li>
          <li>Create a SWOT Analysis - A SWOT analysis can provide insight into the strengths, weaknesses,
            oppurtunities, and threats posed internally and externally to IT. SWOT can help define what areas need to
            be improved within IT. (Rouse)</li>
          <li>Define Goals - The goals of IT should be clearly defined. The goals should be an improvement that helps
            the organization or IT. (Rouse)</li>
          <!-- Ref 2 -->
          <li>Provide Road Maps - Roadmaps can help IT focus on what goals should be completed in a certain amount of
            time. (Overby)</li>
          <li>Define Key Components - Determining what resources IT needs in order to achieve the goals set out is
            essential for success. (Overby)</li>
          <!-- Ref 3 -->
          <li>Understand Technology Impact - Technology is the future! Determining how that technology impacts an
            organization and the individuals, either employees or clients, in that organization should be clearly
            assessed. (Roush)</li>
          <li>Understand Pathway to Success - Understanding the best way to align what IT to help the organization be
            successful is important for any business. IT is a big investment and there should be a clear understanding
            on its overall goal. (Roush)</li>
        </ol>

      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <hr>
    <div class="row">
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-policy" routerLinkActive="active">IT Policy</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-governance" routerLinkActive="active">IT Governance</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-strategy" routerLinkActive="active">IT Strategy</a>
      </div>
    </div>
  </div>
  <div class="container-fluid works-cited">
    <hr>
      <a href="https://www.cio.com/article/2437285/it-strategy/anatomy-of-an-it-strategic-plan.html" target="_blank">
        Overby, Stephanie. "Anatomy of an It stratigic plan in the era of digital disruption." 27 October 2017.
        <br>
        <p class="indent">
          <em>CIO from IDG.</em> Website.
        </p>
      </a>
      <a href="https://searchcio.techtarget.com/definition/IT-strategic-plan-information-technology-strategic-plan" target="_blank">
        Rouse, Margaret. "IT strategic plan (information technology strategic plan)." August 2016.
        <br>
        <p class="indent">
          <em>TechTarget.</em> Website.
        </p>
      </a>
      <a href="https://www.bmc.com/blogs/it-strategic-plan-examples/" target="_blank">
        Roush, Joe. "IT Strategic Plans: 5 Great Examples from Higher Education and Why You Should Read Them." 22
        September 2017.
        <br>
        <p class="indent">
          <em>BMC Blogs.</em> Website.
        </p>
      </a>
    </div>
</div>
