<div class="container extend-page foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">IT 4683 - Toolkit</p>
    <p class="h2 h2-responsive">IT Policy</p>
    <hr>
  </div>
  <div class="container-fluid">
    <p class="h5 h5-responsive">Policy Statement</p>
    <div class="container-fluid media">
      <div class="media-body">
        <p>
          IT Policy is important with any IT organization. Whether the organization implements or just uses IT related
          equipement. Taking care of that equipement and ensuring that it is use properly is essential for smooth
          operations in every organization. Those who use IT equipement are expected to respect that equipement and
          ensure there is no damage.<br>
          Users are responsible for both the software and the hardware. Proper security will be provided on
          organization machines. Users are prohibited from disabling, modifing, or removing security software.
          It is never the recommendation of IT that users outside of the organization use internal equipement unless
          that equipement is secure for the purpose of non-organization use.
          <br><br>
          It is the overall goal of IT to provide services and security in the best interest for the organization.
        </p>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <hr>
    <div class="row">
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-policy" routerLinkActive="active">IT Policy</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-governance" routerLinkActive="active">IT Governance</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-strategy" routerLinkActive="active">IT Strategy</a>
      </div>
    </div>
  </div>
</div>
