<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">Java/JavaFX - High Card</p>
    <p class="lead">This project was implemented as a final project for Programming Principles II at Kennesaw State
      University.</p>
  </div>
  <div class="container-fluid media">
    <div class="media-body">
      <p>
        <strong>Description</strong>
        <br>Using JavaFX as the
        <appr title="User Interface">UI</appr>, this project utilizes several different parts of
        <appr title="Object Oriented Programming">OOP</appr>.
        <br> The concept of the this project is a simple card game. The user clicks
        <em>Deal</em> and two cards are placed on the game board, one for the user and one for the computer. The cards
        are compared
        and the highest card wins.
      </p>
      <p>
        &lt;Insert Flowcharts&gt;
      </p>
    </div>
    <img class="d-flex mr-3 animated fadeInLeft" src="assets/imgs/JavaFX_Logo.png" alt="JavaFX Logo" width="10%">
  </div>
  <div class="container-fluid">
    <p>See the source code on <a href="https://github.com/qkfreas/JavaHighCard" target="_blank">GitHub</a>!</p>
    <p>Download the JAR
      <a href="assets/HighCard.jar">here!</a>
    </p>
    <p>
      <small>Note: This program is intented for demonstration purposes only. This Java/JavaFX application does not make
        external
        calls to other sources, e.g. the internet. This program will create a file called
        <em>records.dat</em> in order to store game information from time of initialization. The created file may be
        deleted
        by user after demonstration is completed. Images from this application were obtained via open source and are
        not
        owned by the author of this application.</small>
    </p>
  </div>
</div>
