<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">IT 4683</p>
    <p class="h2 h2-responsive">Management of Information Technology and Human Computer Interaction</p>
    <hr>
  </div>
  <div class="container-fluid">
    <p class="h5 h5-responsive">IT Tool Kit</p>
    <div class="row row-projects">
      <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/ksu/it4683/it-policy">IT Policy
        <h6>This is the description</h6>
      </a>
    </div>
    <div class="row row-projects">  
      <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/ksu/it4683/it-governance">IT Governance
        <h6>This is the description</h6>
      </a>
    </div>
    <div class="row row-projects">
      <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/ksu/it4683/it-strategy">IT Strategy
        <h6>This is the description</h6>
      </a>
    </div>
  </div>
</div>
