<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">Courses</p>
    <hr>
    <div class="container-fluid">
      <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" routerlinkactive="active" routerLink="/ksu/it4683">IT 4683
          <h6>Management of Information Technology and Human Computer Interaction</h6>
        </a>
      </div>
      <!-- <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" href="">Project Two
          <h6>This is the description</h6>
        </a>
      </div> -->
      <!-- <div class="row row-projects">
        <a class="col h5 h5-responsive col-project" href="">Project Three
          <h6>This is the description</h6>
        </a>
      </div> -->
    </div>
  </div>
</div>
