<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">IT 4683 - Toolkit</p>
    <p class="h2 h2-responsive">IT Governance</p>
    <hr>
  </div>
  <div class="container-fluid">
    <p class="h5 h5-responsive">Roles</p>
    <div class="container-fluid media">
      <div class="media-body">
        <p>
          In IT, there are many different types of roles to play. The one that will be used here is one found in the
          COBIT handbook.<br>
          Each part of the workflow plays an important part in IT Governance and no part should be overlooked.<br>
          It is important that the needs of the client are met, <strong>IT Stratigic Alignement</strong> will help work
          through any and
          all business needs and concerns.<br>
          After the business needs are determined, <strong>IT Value Delivery</strong> will bring forward a product or
          service specially designed for the client.<br>
          <strong>Risk Management</strong> will evaluate the processes after they are put into place and determine the
          risks involved, if any.<br>
          After risk has been assessed, the current process will go throuhg a <strong>Performance Measurement</strong>
          to determine if it is the right process for the client's needs.<br>
        </p>
      </div>
      <img class="d-flex mr-3 animated fadeInLeft" src="assets/imgs/COBIT_governanve_workflow.PNG" alt="COBIT Governance Workflow"
        width="50%">
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <hr>
    <div class="row">
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-policy" routerLinkActive="active">IT Policy</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-governance" routerLinkActive="active">IT Governance</a>
      </div>
      <div class="col col-center">
        <a class="waves-light btn" routerLink="/ksu/it4683/it-strategy" routerLinkActive="active">IT Strategy</a>
      </div>
    </div>
  </div>
</div>
