<div class="container extend-page foreground-container">
  <div class="container-fluid">
    <p>LEBEN</p>
  </div>
</div>
<!-- THIS PAGE IS REQUIRED TO FOLLOW THE BRANDING REQUIREMENTS PROVIDED BY ZILLOW. http://www.zillow.com/howto/api/BrandingRequirements.htm -->
<!-- INTRODUCTION:
  Leben, "live" or "living" in German, is intended to pull data from certain APIs to bring together the best application to find a place to live.
  The first goal is to make a basic page that pulls information from Zillow. After that has been accomplished, more APIs, if they exist, should be integrated into this application.
 -->