<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">This Website!</p>
    <p class="lead">This one, the one you, the user, are viewing is a website inspired by a Summer 2018 work project.</p>
  </div>
  <div class="container-fluid">
    <p>
      <strong>Description</strong>
      <br>This website uses a mixture of different frameworks in order to work.
      <br>Somewhere in Georgia, an old workstation running Ubuntu Server is hosting an Apache service.
      <br>That same service is hosting web files created, modified, and updated by an Angular framework.
    </p>
  </div>
  <div class="container-fluid media">
    <div class="media-body row">
      <div class="col">
        <img class="d-flex mr-3 animated fadeInUp" src="assets/imgs/angular_logo.png" alt="Angular Logo" width="85%">
      </div>
      <div class="col">
          <img class="d-flex mr-3 animated fadeInUp" src="assets/imgs/mdb-transparent-250px.png" alt="MDB Logo" width="100%">
      </div>
      <div class="col">
        <img class="d-flex mr-3 animated fadeInUp" src="assets/imgs/ubuntu_logo.png" alt="Ubuntu Server Logo" width="100%">
      </div>
      <div class="col">
        <img class="d-flex mr-3 animated fadeInUp" src="assets/imgs/Apache-http-server.png" alt="Apache Logo" width="76%">
      </div>
    </div>
  </div>
</div>
