<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">This Website!</p>
    <p class="lead">This one, the one you, the user, are viewing is a website inspired by a Summer 2018 work project.</p>
  </div>
  <div class="container-fluid media">
    <div class="media-body">
      <p>
        <strong>Description</strong>
        <br>This website uses a mixture of different frameworks in order to work.
        <br>Somewhere in Georgia, an old workstation running Ubuntu Server is hosting an Apache service.  That same service is hosting web files created, modified, and updated by an Angular framework.
      </p>
      <p>
        &lt;Insert Flowcharts&gt;
      </p>
    </div>
    <img class="d-flex mr-3 animated fadeInLeft" src="assets/imgs/angular_logo.png" alt="JavaFX Logo" width="10%">
  </div>
</div>
