<div class="container foreground-container">
  <div class="container-fluid">
    <p class="h1 h1-responsive">This Website!</p>
    <p class="lead">This one, the one you, the user, are viewing is a website inspired by a Summer 2018 work project.</p>
  </div>
  <div class="container-fluid media">
    <div class="media-body">
      <p>
        <strong>Description</strong>
        <br>Using JavaFX as the
        <appr title="User Interface">UI</appr>, this project utilizes several different parts of
        <appr title="Object Oriented Programming">OOP</appr>.
        <br> The concept of the this project is a simple card game. The user clicks
        <em>Deal</em> and two cards are placed on the game board, one for the user and one for the computer. The cards are compared
        and the highest card wins.
      </p>
      <p>
        &lt;Insert Flowcharts&gt;
      </p>
    </div>
    <img class="d-flex mr-3 animated fadeInLeft" src="assets/imgs/angular_logo.png" alt="JavaFX Logo" width="10%">
  </div>
</div>
